// HEY SEAN!!! Sean, you may edit this file. Don't edit files that don't have this comment at the top. Delete this comment before deliverables are due

// primary secondary tertiary quaternary quinary senary septenary octonary nonary denary
$primary-color: #71afe2; // Blue
$secondary-color: #ca4962; // Red
$tertiary-color: #539c81; // Green
$quaternary-color: #9d5851;
$quinary-color: #edba8b;
$senary-color: #f6e796;
// $septenary-color: #;
// $octonary-color: #;
// $nonary-color: #;
// $denary-color: #;
