// HEY SEAN!!! Sean, you may edit this file. Don't edit files that don't have this comment at the top. Delete this comment before deliverables are due

$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.gb-section {
  background-color: #00f;
}

.gb-col {
  background-color: #f00;
}

.gb-wrapper {
  background-color: #0f0;
}
